<br>
<h1>Welcome to the app!</h1>
<br>
<div class="container">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <div>
                <input type="text" name="username" [(ngModel)]="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div>
                <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
            </div> 
        </div>
        <!-- <button class="btn btn-primary" (click)=handleLogin() >Login</button> -->
        <button class="btn btn-primary" (click)=handleBasicAuthLogin() >Login</button>
    </form>
</div>


